<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ガンドッグだよ！</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav me-auto">
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblWorld">世界観</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblIsland">島</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblStory">現状</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblArea">区域</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblRules">ルール</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid">
    <div class="pb-5" id="lblWorld">
        <hr>
    </div>
    <h3>世界観</h3>
    <div>
        <h5>ニューセントラルフロート</h5>
        <p>
            地球のどこか、陸地からさほど離れていない穏やかな海に、巨大なメガフロート都市国家「ニューセントラルフロート」が存在します。
            <br>この都市国家は中央政府の支配を受けず、独自の法律や規制を持つ特別な認可を受けて形成されました。
            <br>しかし、ナイトメアストーム中の中央政府による圧政や、執行部隊によるテロリスト対処で多くの住民の家族や友人が失われてしまいました。
            <br>それに対して、愛する人を失った人たちが武器を持ち、弾圧勢力に対抗するために立ち上がりました。
            <br>彼らは、自分たちの正義の守護者となり、自分たちが信じる正義のために戦うようになりました。
        </p>
        <p>
            こうしてニューセントラルフロートは、紛争と暴力が絶えない地獄のような状態に陥ってしまいました。
            <br>街には銃声が響き渡り、かつての平和で穏やかな海は血に染まっています。
            <br>このような絶望的な世界にも希望はあります。それは各女子高の若き生徒たち（これがプレイヤー、あなた）です。
            <br>彼女らは、紛争の平和的解決と暴力の連鎖を終わらせるために、たゆまぬ努力を続けています。
            <br>しかし、その日が来るまで、ニューセントラルフロートは混乱と争いの場であり、銃声は自由の代償の高さを常に思い起こさせるでしょう。
        </p>
    </div>
    <div class="pb-5" id="lblIsland">
        <hr>
    </div>
    <h3>メガフロートについて</h3>
    <div>
        <h5>都市</h5>
        <p>
            メガフロートは相互に接続された一連のモジュールで構成され、さらに通路、トンネルが相互に接続された迷路のような構造になっています。
            <br>各モジュールは、それぞれ独自のデザインと機能を持つ自己完結型のユニットです。廃棄物処理のためのリサイクルシステムを備えています。
            <br>住居、オフィス、レクリエーションエリアなど、特定の機能を果たすように設計されています。
            <br>食料生産のための温室や養液栽培システムを備えた農業施設や、最先端の研究室や最先端技術が導入された研究開発施設など特殊なモジュールも存在します。
            <br>最も印象的なのは、メガフロートの中心に存在する巨大な円形の建造物であるハブです。
            <br>このハブには、ショップやレストラン、エンターテイメント施設などがあり、にぎやかな活動の中心地となっています。
            <br>建築は未来的で洗練されており、曲線と宇宙時代の美学を備えています。
        </p>
        <h5>インフラ</h5>
        <p>
            メガフロートの海中部分には放射状の構造体が存在します。
            <br>都市インフラの分配と各モジュールの制御、それに全体のバランスの確保を担います。
            <br>複雑な支柱と補強材で構成され、荒波や強風の中でも安定した状態を保つという、工学的な偉業を成し遂げています。
            <br>これに接続された高度な空気ろ過システムにより、汚染物質や有害物質は排除され、都市ではクリーンでフレッシュな空気が循環しています。
        </p>
        <h5>交通機関</h5>
        <p>
            都市での主な移動手段は電気自動車、自転車、水上タクシーです。
            <br>主要区画にはモノレールの駅があり、市民や観光客が街のさまざまな場所に素早く簡単にアクセスできます。
        </p>
    </div>
    <div class="pb-5" id="lblStory">
        <hr>
    </div>
    <h3>現状</h3>
    <div>
        <h5>荒廃したメガフロート</h5>
        <p>
            かつてこの都市は、人類が共通の目標に向かって協力することで達成できる輝かしい見本であり、希望と進歩の光でした。
            <br>しかしナイトメアストームが発生し、外の世界は危険なものとなり、環境災害、政治的混乱、社会不安に悩まされるようになりました。
            <br>そして世界のあちらこちらで法と秩序が崩壊し、略奪行為に走る人々が増えました。
            <br>自由を掲げたこの都市はすぐに格好の標的となりました。
            <br>紛争と暴力が絶えない状況下では、メガフロートの景色は荒涼とした不吉なものに変わり果ててしまいました。
            <br>かつては美しく輝いていた建造物も、今は戦いの傷跡が残り、壁や建物には弾痕が、通りには瓦礫や爆発の跡が散らばっています。
        </p>
        <h5>女子高の武装化</h5>
        <p>
            犯罪と暴力の増加により、女子高の壁の中にさえも恐怖と危険が侵食しました。
            <br>法執行機関が圧倒され、十分な保護を提供できない中、生徒たちは自分たちの手で問題を解決し、自分たちを守るために武装することにしました。
            <br>銃器の所持が許可された生徒は、皆を守るために結束し、その目的のために日々訓練しています。
            <br>休み時間や放課後に自分や他人を守るための戦術や戦略について話し合っています。
            <br>パトロールや見張り台を設置し、潜在的な脅威を常に把握できるようにしている生徒たちもいます。
            <br>少女たちは戦士となり、安全で公正な社会で生きる権利を求めて戦っているのです。
        </p>
        <div>
            <blockquote class="blockquote">
                学校を後にするとき、彼女たちに対する賞賛の念を禁じ得ません。
                圧倒的な危険と抑圧に直面しながらも、彼女たちは被害者になることを拒否し、代わりに立ち上がり、自分たちの未来のために戦うことを選択したのです。
            </blockquote>
            <figcaption class="blockquote-footer">
                記者M <cite title="Source Title">皇高校生徒により救出された後に</cite>
            </figcaption>
        </div>
    </div>
    <div class="pb-5" id="lblArea">
        <hr>
    </div>
    <h3>エリア紹介</h3>
    <div>
        危険度の程度
        <ul>
            <li>
                A:ロアナプラ以上
            </li>
            <li>
                B:アフリカ
            </li>
            <li>
                C:メキシコ
            </li>
            <li>
                D:アメリカ
            </li>
            <li>
                E:日本
            </li>
        </ul>
        <div class="card-deck">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">中央学生連盟高等学校</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                        中央地区にある新中央議会直轄の高等学校。入学難度が最も高く、生徒数があまり多くない。
                        <br>学園は組織化されており、治安維持委員会が情報を収集し、中央生徒会から承認が降りると実働部隊である執行委員会が現地にて"執行"をする。
                    </p>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度C</h6>
                    <p class="card-text">
                        警備体制はしっかりとしてあり最も安全な区域とも言われている。
                    </p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">VRC総合学園</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                        VRC地区と呼ばれる最も大きな面積を誇る地区にある総合学園。
                        <br>その敷地には小中高大が集約され、さらに居住地や商業行政施設も有している。
                        <br>高等部と大学部では学科が選択専攻科で統一されている。
                    </p>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度A</h6>
                    <p class="card-text">
                        あらゆる人種、文化、思想が入り乱れており、ギャングやテロリストが潜伏し、レジスタンスがゲリラと化している。
                        <br>大半は住人らで自警団を結成している。一度学校外に出ると何があってもおかしくない地獄。
                    </p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">アーツテックタクティカルハイスクール</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                        中央地区から見て南東に位置するサウスパーシング地区にある高等学校。
                        <br>表面上の非武装を装うために契約した民間軍事会社の基地内に併設された訓練高等学校。
                        <br>実際の軍のように科が分けられている。高等部には歩兵科、航空科、船舶科、輸送科の4つがある。
                    </p>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度D</h6>
                    <p class="card-text">
                        小型攻撃ヘリや装輪装甲車を有する民間軍事会社が睨みを効かせているため、犯罪数は少ない。
                    </p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">皇高等学校</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                        中央地区から見て東の地区にある高等学校。
                        東洋の島国にかつてあった高等学校が移設した。
                        <br>銃器を扱えるのは新設された特別学科のみ。
                    </p>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度C</h6>
                    <p class="card-text">
                        特別学科生徒による巡回が実施され、比較的安全。たまに起きる銀行強盗事件や立てこもり事件で警察の応援で駆けつけるぐらい、だが油断はできない。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-5" id="lblRules">
        <hr>
    </div>
    <h3>ルール</h3>
    <div>
        <h5>キャラクタークリエイト関連</h5>
        <dl class="row">
            <dt class="col-sm-3">経歴数</dt>
            <dd class="col-sm-9">
                <p>1年生1つ、2年生2つ、3年生3つ。<br>ただし後述の「使用可能な経歴」からのみ選べる。</p>
            </dd>
            <dt class="col-sm-3">RP上限</dt>
            <dd class="col-sm-9">
                <p>5</p>
            </dd>
            <dt class="col-sm-3">生活ランク</dt>
            <dd class="col-sm-9">
                <p>D</p>
            </dd>
            <dt class="col-sm-3">アイテム所有枠</dt>
            <dd class="col-sm-9">
                <p>縦横1段階拡大</p>
            </dd>
        </dl>
        <h5>使用可能な経歴</h5>
        <dl class="row">
            <dt class="col-sm-3">基本</dt>
            <dd class="col-sm-9">
                <p>ボディガード、格闘家、運動選手、ドライバー、スタントマン、メカニック。<br>他は要相談。</p>
            </dd>
            <dt class="col-sm-3">○○科(兵士、士官、狙撃兵、工兵が選択可)</dt>
            <dd class="col-sm-9">
                <p>軍人互換。○○に入る文字は学校次第。</p>
            </dd>
            <dt class="col-sm-3">特別対応チーム(一般)</dt>
            <dd class="col-sm-9">
                <p>特殊部隊互換。</p>
            </dd>
            <dt class="col-sm-3">特別対応チーム(工兵)</dt>
            <dd class="col-sm-9">
                <p>爆発物処理班互換。</p>
            </dd>
            <dt class="col-sm-3">特別対応チーム(NSA)</dt>
            <dd class="col-sm-9">
                <p>工作員互換。</p>
            </dd>
            <dt class="col-sm-3">治安維持班</dt>
            <dd class="col-sm-9">
                <p>警察官互換。</p>
            </dd>
        </dl>
        <h5>その他追加・変更</h5>
        <ul>
            <li>
                入手10以下の銃と防具は無料で入手可能(武器はなんでも1つ+HG1つ)。対応サプレッサーは入手値10とする。
            </li>
            <li>
                セッション中に防具・盾に被弾した場合、終了後に金額の1/5を支払い修理が必要。
            </li>
            <li>
                P90マガジンの入手値は10とする。
            </li>
            <li>
                催涙ガス手榴弾、閃光手榴弾は入手値10とする。
            </li>
            <li>
                グレネードの使用方法の明確化
                <ul>
                    <li>
                        片手武器：(簡易)取り出し※→(簡易)準備→(行動)投げる
                    </li>
                    <li>
                        両手武器：(簡易)武器の持ち替え→(簡易)取り出し※→(簡易)準備→(行動)投げる
                    </li>
                </ul>
                <p>※ポーチにある場合は不要。</p>
            </li>
        </ul>
    </div>
</div>