<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ガンドッグだよ！</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav me-auto">
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblWorld">世界観</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblIsland">メガフロート</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" routerLink="/gd-rules"
                            fragment="lblArea">区域</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid">
    <div class="pb-5" id="lblWorld">
        <hr>
    </div>
    <h3>世界観</h3>
    <div>
        舞台となるのは地球上のどこか、比較的陸地から離れすぎていない、穏やかな海の上に浮かぶ巨大メガフロート都市国家"ニューセントラルフロート"。
        <br>都市国家として特別認可を受け、国家が形成されている。
        <br>中央政府による圧政や、中央学連の執行部隊によるテロリスト対処での家族や友人を失った者が銃器を手に蜂起していくという最悪な負の連鎖の真っ只中にあります。
        <br>銃持つ者全てがそれぞれの正義を掲げている地獄のような国家です。
    </div>
    <div class="pb-5" id="lblIsland">
        <hr>
    </div>
    <h3>メガフロートについて</h3>
    <div>
        
    </div>
    <div class="pb-5" id="lblArea">
        <hr>
    </div>
    <h3>エリア紹介</h3>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">中央学生連盟高等学校</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    中央地区にある新中央議会直轄の高等学校。入学難度が最も高く、生徒数があまり多くない。
                    <br>学園は組織化されており、治安維持委員会が情報を収集し、中央生徒会から承認が降りると実働部隊である執行委員会が現地にて"執行"をする。
                </p>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度C</h6>
                <p class="card-text">
                    警備体制はしっかりとしてあり最も安全な区域とも言われている。
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">VRC総合学園</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    VRC地区と呼ばれる最も大きな面積を誇る地区にある総合学園。
                    <br>その敷地には小中高大が集約され、さらに居住地や商業行政施設も有している。
                    <br>高等部と大学部では学科が選択専攻科で統一されている。
                </p>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度A</h6>
                <p class="card-text">
                    あらゆる人種、文化、思想が入り乱れており、ギャングやテロリストが潜伏し、レジスタンスがゲリラと化している。
                    <br>大半は住人らで自警団を結成している。一度学校外に出ると何があってもおかしくない地獄。
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">アーツテックタクティカルハイスクール</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    中央地区から見て南東に位置するサウスパーシング地区にある高等学校。
                    <br>表面上の非武装を装うために契約した民間軍事会社の基地内に併設された訓練高等学校。
                    <br>実際の軍のように科が分けられている。高等部には歩兵科、航空科、船舶科、輸送科の4つがある。
                </p>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度D</h6>
                <p class="card-text">
                    小型攻撃ヘリや装輪装甲車を有する民間軍事会社が睨みを効かせているため、犯罪数は少ない。
                    </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">皇高等学校</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    中央地区から見て東の地区にある高等学校。
                    東洋の島国にかつてあった高等学校が移設した。
                    <br>銃器を扱えるのは新設された特別学科のみ。
                </p>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">周辺エリア...危険度B</h6>
                <p class="card-text">
                    特別学科生徒による巡回が実施され、比較的安全。たまに起きる銀行強盗事件や立てこもり事件で警察の応援で駆けつけるぐらい、だが油断はできない。
                </p>
            </div>
        </div>
    </div>
    <div class="pb-5" id="lblNewRules">
        <hr>
    </div>
    <h3>ルール変更</h3>
    <div class="d-none">
        ルール変更
        ・経歴数…1年生1つ、2年生2つ、3年生3つ。ただし「使用可能な経歴」からのみ選べる。
        ・RP上限…5
        ・生活ランク...D
        ・アイテム所有枠...縦横1段階拡大

        使用可能な経歴
        ボディガード、格闘家、運動選手、ドライバー、スタントマン、メカニック、他は要相談
        ★↓追加(というか名称変更)
        ・○○科(兵士、士官、狙撃兵、工兵が選択可)...軍人互換。○○に入る文字は学校次第。
        ・特別対応チーム(一般)...特殊部隊互換。
        ・特別対応チーム(工兵)...爆発物処理班互換。
        ・特別対応チーム(NSA)...工作員互換。
        ・治安維持班...警察官互換。

        ルール追加
        ・入手10以下の銃と防具は無料で入手可能(武器はなんでも1つ+HG1つ)、対応サプレッサーは入手値10とする。
        ・セッション中に防具・盾に被弾した場合、終了後に金額の1/5を支払い修理が必要。
        ・P90マガジンの入手値は10とする。
        ・催涙ガス手榴弾は無料、閃光手榴弾は入手値10とする。
    </div>
</div>