<aside>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ガンドッグだよ！</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav me-auto">
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblPistol">HG</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblSmg">SMG</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblPdw">PDW</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblArifle">RF</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblDmr">DMR</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblSg">SG</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblsRifles">SR</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblamRifles">AMR</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblLmg">LMG</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblLauncherWp">GL</button>
                    </li>
                    <li class="pb-1 nav-item">
                        <button class="btn btn-rounded btn-sm w-100 text-start" type="button" pageScroll
                            routerLink="/gd-items" fragment="lblmelees">近接武器</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</aside>

<div class="container-fluid">
    <div>
        <section *ngFor="let viewItem of viewItems">
            <div class="pb-5" [id]="viewItem.id">
                <hr>
            </div>
            <h3>{{viewItem.name}}</h3>
            <section *ngFor="let weapon of viewItem.weapons">
                <article class="card mb-3 card-width" *ngIf="weapon.item_name!= null&& weapon.item_name != ''">
                    <div class="card-header bg-secondary text-light">
                        <div class="d-flex justify-content-between">
                            <div>{{weapon.item_name}}</div>
                            <div>{{viewItem.tag}}</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img *ngIf="weapon.items_avatar != null && weapon.items_avatar != ''"
                            class="img-fluid mx-auto d-block" src="{{weapon.items_avatar}}">
                        <div *ngIf="weapon.items_avatar == null || weapon.items_avatar == ''" class="py-1">
                            <i class="bi bi-image mx-1"></i>No Image
                        </div>
                    </div>
                    <div class="border-bottom text-center">
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                モード
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                {{weapon.fire_mode}}
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                信頼性
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.reliability}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                <div *ngIf="viewItem.tag != null && viewItem.tag == '武器戦闘'">~0m</div>
                                <div *ngIf="viewItem.tag != null && viewItem.tag != '武器戦闘'">~5m</div>
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                <div *ngIf="viewItem.tag != null && viewItem.tag == '武器戦闘'">1~2m</div>
                                <div *ngIf="viewItem.tag != null && viewItem.tag != '武器戦闘'">6~25m</div>
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                <div *ngIf="viewItem.tag != null && viewItem.tag == '武器戦闘'">3~4m</div>
                                <div *ngIf="viewItem.tag != null && viewItem.tag != '武器戦闘'">26~50m</div>
                            </li>
                            <li
                                class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0 bg-secondary text-light">
                                <div *ngIf="viewItem.tag != null && viewItem.tag == '武器戦闘'">5m</div>
                                <div *ngIf="viewItem.tag != null && viewItem.tag != '武器戦闘'">51~200m</div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0">
                                <div>{{weapon.r_point_blank}}</div>
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                <div>{{weapon.r_short}}</div>
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                <div>{{weapon.r_middle}}</div>
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                <div>{{weapon.r_long}}</div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                貫通力
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                {{weapon.penetration}}
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                消音
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.silence}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                非貫通D
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                {{weapon.non_penetration_damage}}
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                貫通D
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.penetration_damage}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                射程
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                {{weapon.range}}
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                装弾数
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.mag_round}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-25 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                必筋
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0">
                                {{weapon.kinryoku}}
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-bottom-0 bg-secondary text-light">
                                携行
                            </li>
                            <li class="list-group-item w-25 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.size}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li
                                class="list-group-item w-50 rounded-0 border-start-0 border-bottom-0 bg-secondary text-light">
                                価格
                            </li>
                            <li class="list-group-item w-50 rounded-0 border-bottom-0">
                                {{weapon.item_value}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item w-50 rounded-0 border-bottom-0 bg-secondary text-light">
                                弾倉価格
                            </li>
                            <li class="list-group-item w-50 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.mag_value}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item w-50 rounded-0 border-bottom-0 bg-secondary text-light">
                                口径
                            </li>
                            <li class="list-group-item w-50 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.cartridge}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item w-50 rounded-0 border-bottom-0 bg-secondary text-light">
                                全長
                            </li>
                            <li class="list-group-item w-50 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.item_width}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item w-50 rounded-0 border-bottom-0 bg-secondary text-light">
                                重量
                            </li>
                            <li class="list-group-item w-50 rounded-0 border-end-0 border-bottom-0">
                                {{weapon.item_weight}}
                            </li>
                        </ul>
                    </div>
                    <div class="card-body py-1 border-bottom">
                        <div class="card-text">
                            <span *ngFor="let efficiency of weapon.efficiency">
                                <div>■{{efficiency}}</div>
                            </span>
                        </div>
                    </div>
                    <div class="card-body py-1">
                        <div class="card-text">
                            <p class="mb-0">{{weapon.note}}</p>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </div>
</div>